{{#*inline "node"}}
  <div class="column">
    {{#if title}}
      <h3
        class="depth-{{expanded_node.depth}}"
        id='{{expanded_node.path}}'
      >
        {{#if expanded_node.node_type.Scope }}
          {{title}}
        {{else}}
          {{title}} {{expanded_node.num}}
          <a
            href="{{fragment_url}}"
          >
            <span class="icon">
              <i class="fa fa-link"></i>
            </span>
          </a>
        {{/if}}
      </h3>
      {{/if}}
    {{{rendered}}}
  </div>
{{/inline}}

{{#*inline "page"}}
<div class="container">
  <div class="content box">
    {{#each schemas}}
      <div class="columns">
        {{#each this}}
            {{>node}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
{{/inline}}

{{> base}}
