{{#*inline "node"}}
<div style="margin-left: 12px">
  {{#if node_type.Scope }}
    {{node_type.Scope}}
  {{else}}
    {{node_type}} {{num}}
  {{/if}}
  {{#each children}}
    {{>node}}
  {{/each}}
</div>
{{/inline}}

{{#*inline "page"}}
<section>
  <div class="container">
    <div class="box">
      {{slug}}

      <div>Schema</div>
      <div>
        {{#each schema}}
        <div>
          {{expanded_node.depth}} - <br />
          {{fragment_url}}<br />
          {{expanded_node.path}} - {{expanded_node.node.node_type}}
          {{# with expanded_node }}
            {{>node}}
          {{/with}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
{{/inline}}
{{> base}}

