{{#*inline "page"}}
<section>
  <div class="container">
    <div class="message is-info">
      <h2 class="message-header">Add an edition</h2>
      <div class="message-body">
        Add a new edition of the book. It will be empty, but with the structure
        already filled in. The fragments can then be filled in in place.
      </div>
    </div>
    {{#if flash.error.errors}}
    <div class="message is-danger">
      <div class="message-header">
        The form that was submitted was not valid
      </div>
      <div class="message-body">
        <ul>
          {{#each flash.error.errors}}
          <li>{{@key}}: {{this}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    {{/if}}
    <form class="box" action="/ethics/editions/new" method="post">
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Title</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control has-icons-right">
              <input
                 class="input"
                 name="title"
                 placeholder="Name by which the edition is known"
                 type="text"
                 value="{{flash.error.original.title}}"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Slug</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control has-icons-right">
              <input
                 class="input"
                 placeholder="Slug"
                 type="text"
                 name="slug"
                 value="{{flash.error.original.slug}}"
               />
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Editor</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input
                 class="input"
                 name="editor"
                 placeholder="Editor"
                 type="text"
                 value="{{flash.error.original.editor}}"
               />
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">
            Language code
          </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="select is-disabled">
              <select
                name="language_code"
                value="{{flash.error.original.language_code}}"
              >
                {{#each language_codes}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Year</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input
                class="input"
                placeholder="Year"
                type="number"
                name="year"
                value="0"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{{/inline}}
{{> base}}
