{{#*inline "page" }}
<section>
  <div class="container">

  {{#if success }}
    <div class="box notification is-success">
      {{success}}
    </div>
  {{/if}}
    <div class="box notification is-danger">
      <p class="title">Admin</p>
      <p class="subtitle">Proceed with caution</p>
      <div class="content">
        <a href="{{links.create_edition}}">Make a new one</a>
      </div>
    </div>

    <div class="box">
      <div>
      Choose an edition
      </div>

      <ul>
        {{#each editions}}
        <li>
          <a href="/ethics/editions/{{slug}}">{{title}} ({{year}})</a>
          <a href="/ethics/editions/{{slug}}/edit">(edit)</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
{{/inline}}
{{> base}}
